nav {
  color: red;
}




@media (min-width: 453px) and (max-width: 1280px) {
  
    .hero {
      position: relative;
      
      .landingMainPicture {
        width: 100vw;
        position: absolute;
      }
    }
}